.categoriesWrapper {
  display: flex;
  flex-direction: column;
}
.categories {
  border-radius: 5px;
  display: inline-block;
  overflow: hidden;
  background: var(--input-background);
  min-width: 140px;
  height: 20px;
  color: var(--font-color);
  padding-left: 5px;
}
.category {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  color: var(--font-color);
}