.input {
  width: 200px;
  height: 20px;
  border-radius: 5px;
  background: var(--input-background);
  color: var(--font-color);
  border: 1px solid var(--font-color);
  padding-left: 10px;
}